@import "pages/index";
@import "pages/menu";

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
    
}
* a {
    text-decoration: none;
    color: white;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.rechercher {
    margin: 0;
    padding: 0;
    @include flexbox-center;
    flex-direction: column;
}
.location {
    @include flexbox-center();
    background: #f3f3f3;
    color: #7a7a7a;

    &__city {
        margin-left: 13px;
    }
}   
.explore {
    background: #fafafa;
    width: 100%;
    &__container {
        width: 100%;
        padding: 20px;
        @include flexbox-center();
        flex-direction: column;
        padding: 50px 0px 50px 0px;
    }
    &__title {
        text-align: center;
        max-width: 250px;
        margin: 0;
    }
    &__text {
        text-align: center;
    }
    &__button {
        @include button-style;
        &:hover {
            @include button-hover;
        }
    }
}