@-webkit-keyframes invisible {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.9;
  }
}

@keyframes invisible {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.9;
  }
}

@-webkit-keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes turn-over {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turn-over {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: #F6F6F6;
  -webkit-animation: invisible 3s both;
          animation: invisible 3s both;
}

* a {
  text-decoration: none;
  color: white;
}

.load {
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.load .progress {
  width: 100%;
  height: 30px;
  position: fixed;
  z-index: 1;
}

.load .progress__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: spinner 3.5s both;
          animation: spinner 3.5s both;
  margin-top: 30%;
}

.load .progress__icon i {
  margin-top: 80px;
  text-shadow: 2px 2px 4px #99E2D0;
  font-size: 150px;
  color: #9356DC;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: white;
}

.header__icon {
  width: 50%;
  position: absolute;
  left: 25px;
  font-size: 25px;
}

.header__icon a {
  color: black;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__logo img {
  width: 50%;
  position: absolute;
}

@media screen and (min-width: 800px) {
  .header__logo img {
    width: 25%;
  }
}

.image {
  width: 100%;
  height: 250px;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu {
  width: 100%;
  margin-top: -50px;
  border-radius: 30px 30px 0px 0px;
  background-color: #F6F6F6;
}

.menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.menu__top__title {
  font-family: 'Shrikhand', sans-serif;
  font-size: 26px;
  margin-left: 2%;
}

.menu__top__icon {
  font-size: 25px;
  cursor: pointer;
  padding-right: 5%;
  margin-right: 40px;
  margin-bottom: 30px;
}

.menu__top__icon i {
  position: absolute;
}

.menu__top__icon .far {
  color: black;
}

.menu__top__icon .far:hover {
  color: transparent;
  opacity: 1;
}

.menu__top__icon .fas {
  color: transparent;
  opacity: 0;
}

.menu__top__icon .fas:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menu__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
}

.menu__table h2 {
  font-weight: 1;
  font-size: 20px;
}

.menu__table h2::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 50px;
  height: 4px;
  background: #99E2D0;
}

.menu__table__info {
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.menu__table__info-title {
  font-weight: bold;
}

.menu__table__info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__table__info p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__table__price {
  font-weight: bold;
  padding-right: 15px;
  padding-left: 8px;
  margin-top: 20px;
}

.menu__table__validate {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  overflow: hidden;
  margin-right: -25%;
}

.menu__table__validate i {
  font-size: 20px;
  color: white;
}

.menu .menu-bloc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .menu-bloc__info-price {
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 3%;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
  -webkit-animation: up-down 2s both;
          animation: up-down 2s both;
}

.menu .menu-bloc__info-price:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.menu .menu-bloc__info-price:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu .menu-bloc__info-price:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.menu .menu-bloc__info-price:hover .menu__table__validate {
  margin-right: 0px;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

.menu .menu-bloc__info-price:hover i {
  -webkit-animation: turn-over 0.5s ease-in-out;
          animation: turn-over 0.5s ease-in-out;
}

.menu__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  margin-bottom: 50px;
}

.menu__order-btn {
  opacity: 1;
  color: white;
  padding: 0px 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 15px 50px;
}

.menu__order-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px 2px #9356DC;
          box-shadow: 0px 0px 10px 2px #9356DC;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.menu__order-btn:active {
  -webkit-box-shadow: 0px 0px 10px 2px #FF79DA;
          box-shadow: 0px 0px 10px 2px #FF79DA;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.rechercher {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
  width: 50%;
  font-weight: bold;
}

.location__city {
  margin-left: 13px;
}

.explore {
  background: #fafafa;
  width: 100%;
}

.explore__container {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0px 50px 0px;
}

.explore__title {
  text-align: center;
  margin: 0px;
  width: 55%;
}

.explore__text {
  text-align: center;
  width: 80%;
  color: #7a7a7a;
}

.explore__button {
  border-radius: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 0 20px 0 20px;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 10px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 10px 4px;
}

.explore__button:hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px 4px #9356DC;
          box-shadow: 0px 0px 10px 4px #9356DC;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.functioning__contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px 20px 0px;
}

.functioning {
  width: 100%;
  background-color: white;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.functioning__title {
  padding: 20px;
}

.functioning__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 15px 30px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

.functioning__step:hover {
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  background: #9356DC;
}

.functioning__rond {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}

.functioning__FAS {
  color: #7E7E7E;
  margin: 0 20px;
}

.functioning__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 800px) {
  .functioning__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.restaurants {
  margin: 0;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.restaurants__title {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: -10px;
}

.restaurant__galeries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.restaurant__galeries a {
  width: 92%;
  padding: 4%;
}

.restaurant__galerie {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.restaurant__galerie-nouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}

.restaurant__galerie-nouveau p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}

.restaurant__galerie:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
          box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

.restaurant__galerie-image {
  width: 100%;
  height: 170px;
}

.restaurant__galerie-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant__bloc {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 0 0 20px 20px;
}

.restaurant__bloc-info {
  color: black;
  margin-left: 20px;
  font-weight: 100;
}

.restaurant__bloc-info > :first-child {
  font-weight: 700;
  margin-bottom: -10px;
}

.restaurant__bloc-heart {
  margin-right: 15%;
  font-size: 25px;
  margin-bottom: 30px;
}

.restaurant__bloc-heart i {
  position: absolute;
}

.restaurant__bloc-heart .far {
  color: black;
}

.restaurant__bloc-heart .far:hover {
  color: transparent;
  opacity: 1;
}

.restaurant__bloc-heart .fas {
  color: transparent;
  opacity: 0;
}

.restaurant__bloc-heart .fas:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.foot {
  width: 100%;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot p {
  text-decoration: none;
  color: white;
}

.foot__bloc {
  padding: 0px 40px;
  width: 100%;
  max-width: 1200px;
}

@media screen and (min-width: 800px) {
  .foot__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.foot__bloc .logo {
  font-family: 'Shrikhand', sans-serif;
  font-size: 20px;
  padding: 15px 0px;
  background-color: transparent;
  margin-top: -15px;
}

.foot__bloc .logo:hover {
  text-shadow: #FF79DA 6px 6px 12px;
}

.foot__bloc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-top: -20px;
  margin-bottom: 30px;
}

.foot__bloc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 30px;
}

.foot__bloc-link i {
  margin-right: 8px;
  font-size: 12px;
}

.foot__bloc-link__title {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.foot__bloc-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=main-menu.css.map */