@mixin desktop{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-shape{
    opacity: 1;
    color: white;
    padding: 0px 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);  
}

@mixin btn-hover{
    opacity: 0.8;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);   
}

@mixin btn-shadow{
    box-shadow: 0px 0px 10px 2px $color-primary;
}

@mixin gradient{
    background-image: linear-gradient($color-secondary, $color-primary);
}



@keyframes invisible{
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 0.9;
    }
}

@keyframes spinner{
    0%{
        visibility: visible;
        opacity: 1;
    }
    50%{
        visibility: visible;
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes turn-over{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

