.load{
	margin: 0px;
	width: 100%; 
    @include flex-center();
    height: 100%;

    .progress {
        width: 100%;
		height: 30px;
		position: fixed;
        z-index: 1;
        
        
        &__icon{
            @include flex-center();
            animation: spinner 3.5s both;
            margin-top: 50%;
            @include desktop{
                margin-top: 20%;
                
            }
            
            & i{
                margin-top: 120px;
                text-shadow: 2px 2px 4px $color-tertiary;
                font-size: 100px;
                color: $color-primary;
                animation-duration: 0.9s;
                @include desktop{
                    font-size: 200px
                }
            }
        }
    }
}

.header{
    @include flex-center();
    width: 100%;
    height: 60px;
    background: white;
    @include desktop{
        height: 80px;
    }
    
    &__icon{
        width: 50%;
        position: absolute;
        left: 25px;
        font-size: 25px;
        
        & a{
            color: black;
        }
    }

    &__logo{
        @include flex-center();    
        width: 100%;
    }

    &__logo img{
        width: 150px;
        position: absolute;
        margin-top: 10px;
        
    }
}

.image{
    width: 100%;
    height: 250px;
     
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}